/* .profile__job{
    margin: 0;
    font-size: clamp(14px, 2vw,18px);
    line-height: 22px;
    margin-top: 16px;
}

@media screen and (max-width: 460px){
    .profile__job{
        margin-top: 14px;
    }
} */

.profile__job{
    margin: 0;
    font-size: clamp(14px, 2vw,18px);
    line-height: 22px;
    grid-area: job;
}